*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 120vh;
    width: 100%;
    background-image: linear-gradient(45deg, blue, indigo, purple);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.formarea {
    height: 650px;
    width: 50%;    
    background-color: aliceblue;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding: 20px;    
    gap: 15px;
    margin-top: 50px;
}
.form-elements {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}
.header{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type='text'], input[type='email'], select, textarea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    width: 90%;
    margin: 15px 0;
    font-size: 14px;
    padding: 5px;
    opacity: .7;
}


input[type='button'] {
    border: none;
    height: 40px;
    width: 90%;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(209, 3, 209), rgb(110, 1, 188), rgb(77, 77, 255));
    color: aliceblue;
}
textarea {
    height: 120px;
}
textarea:focus, input[type='text']:focus{
    background-color: rgb(222, 222, 222);
    outline: none;
}
label{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
select{
    font-weight: 600;
}